<div class="container">
  <div class="row">
    <div class="col">
  <%= link_to locations_path, class: 'btn btn-default' do %>
    All Locations
  <% end %>
  <%= link_to edit_location_path(@location), class: 'btn btn-primary' do %>
    Edit
  <% end %>
    </div>
  </div>



  <div class="row">
    <div class="col">
  <dt>Procurify:</dt>
  <dd><%= @location.procurify_id %></dd>

  <dt>Location type:</dt>
  <dd><%= @location.location_type %></dd>

  <dt>Status:</dt>
  <dd><%= @location.status %></dd>

  <dt>Business:</dt>
  <dd><%= @location.business %></dd>

  <dt>Business unit:</dt>
  <dd><%= @location.business_unit %></dd>

  <dt>Internal:</dt>
  <dd><%= @location.internal_id %></dd>

  <dt>Description:</dt>
  <dd><%= @location.description %></dd>

  <dt>Cost centre:</dt>
  <dd><%= @location.cost_centre %></dd>

  <dt>Address:</dt>
  <dd><%= @location.address %>,
  <%= @location.city %>,
  <%= @location.state %>,
  <%= @location.post_code %>,
  <%= @location.country %></dd>

  <dt>Phone:</dt>
  <dd><%= @location.phone %></dd>
  <dt>Fax:</dt>
  <dd><%= @location.fax %></dd>

</dl>
    </div>
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr><th>Enabled Departments</th></tr>

        </thead>
        <tbody>
        <% @location.departments.each do | department | %>
          <tr><td> <%= department.name  %> </td></tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col">
        <table class="table table-striped">
          <thead>
          <tr><th colspan="3">Approval</th></tr>
          <tr><th>Name</th>
          <th>Level</th>
          <th>Job Title</th></tr>
          </thead>
          <tbody>
          <% @location.employees.order(:auth_level).each do | employee | %>
            <tr><td> <%= link_to employee.first_name+' '+employee.last_name, employee_path(employee)  %> </td>
              <td> <%= employee.auth_level %> </td>

              <td> <%= employee.job_title %> </td></tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>